<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407166848911-d0pgnabn095hu4ld0saec9ae8d4a0vb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407166848911-d0pgnabn095hu4ld0saec9ae8d4a0vb1</string>
	<key>API_KEY</key>
	<string>AIzaSyAZRnuSQ7_hBPF4c3pvSxOWhnlNVSocyts</string>
	<key>GCM_SENDER_ID</key>
	<string>407166848911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Daily.Task</string>
	<key>PROJECT_ID</key>
	<string>my-daily-tasks-92f13</string>
	<key>STORAGE_BUCKET</key>
	<string>my-daily-tasks-92f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407166848911:ios:dc7f17ccbca7e4922245fa</string>
</dict>
</plist>